.div-adventure-box {
    display: flex;
    justify-content: space-between;
    height: 85vh;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #ECF6FB;
}

.adventure-box__header {
    display: flex;
    flex-flow: column nowrap;
    margin: .5em 0;
}

.adventure-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 95vw;
}

.adventure-box__encounter {
    width: 90vw;
    line-height: 1.4em;
    background-color: #EEF0FC;
    border: 2px #A2A9D9 solid;
    border-radius: 1em;
    padding: .5em;
}

.button-box {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 95vw;
    margin: .5em 0;
    border: 2px #A2A9D9 solid;
    border-radius: 1em;
    background-color: #EEF0FC;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    transition: .2 ease;
}

.results-box {
    width: 90vw;
    line-height: 1.4em;
    margin: .5em 0;
    margin-bottom: 15vh;
    background-color: #EEF0FC;
    border: 2px #A2A9D9 solid;
    border-radius: 1em;
    padding: .5em;
    transition: .2 ease;
}

.results-box__button {
    width: 80%;
    height: 2.5em;
    margin-top: 1em;
    border-radius: 1em;
}

.adventure-bar__background {
    width: 55vw;
    margin: .5em 0;
    height: 1em;
    border-radius: 1em;
    background-color: grey;
}

.adventure-bar__progress {
    width: 0%;
    height: 1em;
    border-radius: 1em;
    background-color: #6DC18F;
    transition: .5s ease-in-out;
}

.adventure-bar__Sun {
    height: 3em;
    margin-right: 1em;
}


.adventure-bar__Moon {
    height: 3em;
    margin-left: 1em;
}
