.div-adventure-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #ECF6FB;
    margin: 0 0 20vh 0;
}

.adventure-box__header {
    display: flex;
    flex-flow: column nowrap;
    margin: .5em 0;
}

.adventure-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 95vw;
}

.adventure-box__encounter, .results-box {
    width: 100%;
    line-height: 1.4em;
    background-color: var(--second-color-highlight-two);
    border: 2px var(--second-color-darken) solid;
    margin: 1em 0;
    padding: 1em;
}

.adventure-box__event-text, .results-box p {
    padding: 1em;
}

.button-box {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 95vw;
    margin: .5em 0;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    transition: .2 ease;
}

.button-box button:nth-child(1) { border-radius: 2em 1px 1em 1px; }
.button-box button:nth-child(2) { border-radius: 1px 2em 1px 1em; }
.button-box button:nth-child(3) { border-radius: 1px 1em 1px 2em; }
.button-box button:nth-child(4) { border-radius: 1em 1px 2em 1px; }

.results-box__button {
    width: 80%;
    height: 2.5em;
    margin-top: 1em;
    border-radius: 1em;
}

.adventure-bar__background {
    width: 55vw;
    margin: .5em 0;
    height: 1em;
    border-radius: 1em;
    background-color: grey;
}

.adventure-bar__progress {
    width: 0%;
    margin: 0;
    height: 1em;
    border-radius: 1em;
    background-color: #6DC18F;
    transition: .5s ease-in-out;
}

.adventure-bar__Sun {
    height: 3em;
    margin-right: 1em;
}


.adventure-bar__Moon {
    height: 3em;
    margin-left: 1em;
}

@media screen and (min-width: 768px) {
    .adventure-box__event-text, .results-box p {
        padding: 1em 3em;
    }

    .button-box {
        margin: 2em 1em;
    }
}