.location-box, .location-select-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ECF6FB;
    margin: 1em .5em 1em .5em;
    padding: .75em .5em;
    border-radius: .5em;
}

.location-button__start-adventure, .location-button__go-back {
    width: 40%;
    margin: 1em .5em;
    padding: .5em;
}