.container__news {
    background-color: #ECF6FB;
    margin: 1em .5em 1em .5em;
    padding: 1em;
    border-radius: 1em;
}

.news__header {
    margin: .5em 0;
}

.news__text {
    border: 3px #97c1d2 solid;
    border-radius: 1em;
    padding: 1em;
}

.container__buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.button {
    width: 80%;
    padding: 1em 0;
    margin: .5em;
}