.container__news {
    background-color: var(--main-color);
    margin: 1em .5em 1em .5em;
    padding: 1em;
    border-radius: 1em;
}

.news__header {
    margin: .5em 0;
}

.news__text {
    background-color: var(--main-color-highlight-two);
    border: 3px var(--main-color-highlight) solid;
    border-radius: .25em;
    padding: 1em;
}

.container__buttons {
    width: 80vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.button-link {
    width: 100%;
}

.button__menu {
    width: 100%;
    padding: 1em 0;
    margin: .5em;
    border-radius: 3em 5px;
}

.button-link:nth-of-type(even) > .button__menu{
    border-radius: 5px 3em;
}

@media screen and (min-width: 768px) {
    .container__buttons {
        width: 60vw;
    }
}

@media screen and (min-width: 1024px) {    
    .container__buttons {
        width: 50vw;
    }
}