.RegistrationForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 60vh;
    padding: .5em 1em;
    margin: 10vh 1em;
    line-height: 1.4em;
    background-color: aliceblue;
    border-radius: 1em;
}

.RegistrationForm__username {
    line-height: 1.4em;
}

.RegistrationForm__password {
    line-height: 1.4em;
}

.form__alert {
    background-color: white;
    width: 80%;
    margin: 1em auto;
    padding: .25em;
    border-radius: .5em;
}

.form__alert--red {
    color: red;
}

.form__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.form__input {
    line-height: 2em;
    padding: 3px;
}

.form__button {
    width: 40%;
    padding: .5em 1em;
    margin: .5em;
}