.RegistrationForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 60vh;
    padding: .5em 1em;
    line-height: 1.4em;
    background-color: var(--main-color-highlight-two);
}

.RegistrationForm__username {
    line-height: 1.4em;
}

.RegistrationForm__password {
    line-height: 1.4em;
}

.form__alert {
    border: 2px var(--warning-color-highlight-two) solid;
    background-color: var(--warning-color-highlight-two);
    margin: 2em 1em 0 1em;
    padding: 1em;
    border-radius: .25em;
}

.form__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}