.div__rewards-box {
    display: flex;
    justify-content: space-between;
    height: 85vh;
    align-items: center;
    flex-flow: column nowrap;
    background-color: aliceblue;
}

.rewards-box__header {
    margin: 1em 0;
}

.rewards-box__treasure {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 -1em;
    padding: 1em 0;
    line-height: 1.4em;
    border: 5px var(--third-color-darken) solid;
    background-color: var(--third-color-highlight-two);
}

.div__levelup-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    line-height: 1.4em;
    padding: 1em 0;
}

.rewards-box__list {
    list-style-type: none;
}

.rewards-box__list__currency {
    display: flex;
    flex-flow: column nowrap;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25em 0;
}

.rewards-box__button {
    margin: 1em 0;
    padding: 1em 2em;
    border: 1px var(--second-color-darken) solid;
    background-color: var(--second-color-highlight);
    border-radius: 1em 1px;
    transition: background-color .2s ease;
}

.rewards-box__button:hover {
    background-color: var(--second-color-highlight-two);
}

.currency__icon {
    margin: 0 .5em;
}

