.status-box {
    display: flex;
    height: 80vh;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: #ECF6FB;
    padding: .75em;
    animation: slidein-status 3s;
}

.level-box {
    border: 2px #6598AD solid;
    border-radius: 1em;
    background-color: #C6E0EC;

}

.currency-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: .25em;
    border: 2px #6598AD solid;
    border-radius: 1em;
    background-color: #C6E0EC;
}

.stats-box {
    display: flex;
    flex-flow: column nowrap;
    background-color: #CCD1EF;
    padding: .5em 0;
    border: .25em #737DBA solid;
    border-radius: .5em;
}

.stats-box__assignment {
    display: grid;
    align-items: center;
    padding: 10px;
    grid-template-columns: auto 25px 25px auto 25px 25px;
    grid-template-rows: 25px 25px 25px;
    row-gap: .5em;
}

.stats-box__button {
    column-gap: .5em;
    height: 75%;
    width: 75%;
    margin: 0 .25em;
    border: 1px #ECF6FB solid;
    border-radius: 50%;
    transition: .1s ease;
}

.stats-box__button--increment:active {
    background-color: #9CDDB6;
    border: #6DC18F;
}

.stats-box__button--decrement:active {
    background-color: #FFC3B4;
    border: #FFA590;

}

.button {
    width: 80%;
    padding: 1em 0;
    margin: .5em;
}

.currency__icon {
    height: 2em;
}