.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 50vh;
    padding: .5em 1em;
    line-height: 1.4em;
    background-color: var(--main-color-highlight-two);
}

.form__container {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 1 2;
    justify-content: space-around;
    align-items: center;
}

.form__input {
    width: 80%;
    height: 100%;
    padding: .25em 1em;
    margin-left: 1em;
    border-radius: .25em;
    border: 1px solid var(--second-color-darken);
    background-color: var(--second-color-highlight-two);
    transition: background-color .2s ease;
}

.form__input:hover {
    background-color: var(--second-color-highlight);
}

.form__input:focus {
    outline: solid var(--second-color-darken-two) 2px;
    
}

.form__button {
    width: 40vw;
    padding: 1em;
    transition: background-color .2s ease;
}

.button__register {
    border: 1px solid var(--second-color-darken-two);
    background-color: var(--second-color-highlight);
    border-radius: 1px 1em;
}

.button__register:hover {
    background-color: var(--second-color-highlight-two);
}

.button__login {
    border: 1px solid var(--third-color-darken-two);
    border-radius: 1em 1px;
    background-color: var(--third-color-highlight);
}

.button__login:hover {
    background-color: var(--third-color-highlight-two);
}

.button__login:disabled {
    background-color: var(--third-color-darken-two);
}

@media screen and (min-width: 768px) {
    .form__container {
        width: 80vw;
    }

    .form__button {
        width: 35vw;
    }
}

@media screen and (min-width: 1024px) {
    .form__container {
        width: 60vw;
    }

    .form__button {
        width: 25vw;
    }
}
