.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 40vh;
    margin: 1em;
    padding: .5em 1em;
    line-height: 1.4em;
    background-color: #ECF6FB;
    border-radius: 1em;
}

.form__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.form__label {
    line-height: 1.4em;
}

.form__input {
    line-height: 2em;
    padding: 3px;
}

.form__button {
    width: 40%;
    padding: .5em 1em;
    margin: .5em;
}