.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 40vh;
    margin: 1em;
    padding: .5em 1em;
    line-height: 1.4em;
    background-color: #ECF6FB;
    border-radius: 1em;
}

.form__container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 1 2;
    justify-content: space-around;
    align-items: center;
}

.form__label {
    line-height: 1.4em;
}

.form__input {
    width: 100%;
    line-height: 2em;
    padding: 5px;
    margin: 0 0 0 10%;
    border-radius: 1em;
    border: 1px solid #A2A9D9;
    background-color: #EEF0FC;
}

.form__button {
    width: 40%;
    padding: .5em 1em;
    margin: .5em;
}