.button__resolution {
    min-height: 4em;
    padding: .5em;
    margin: .25em;
    border: 2px #6598AD solid;
    border-radius: 1em;
    background-color: #97C1D2;
    transition: .2s ease;
}

.button__resolution--active:active {
    background-color: #6DC18F;
}