.status-bar {
    position: fixed;
    display: flex;
    width: 100%;
    top: 85vh;
    left: 0;
}

.status-bar__portrait {
    position: absolute;
    z-index: 1;
    float: left;
    width: 15vh;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0);
}

.status-bar__bar-box {
    position: relative;
    top: 2em;
    width: 100%;
    background-color: #C8F0D8;
    display: flex;
    flex-flow: column nowrap;
    border-top: 2px #ECFCF3 solid;
    padding: .5em 0;
}

.status-bar__bar-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding-left: 7em;
}

.status-bar__bar-background {
    width: 80%;
    height: .5em;
    background-color: grey;
}