* {
  margin: 0 auto;
  padding: 0;
}

/* Color pallete */

.color-primary-0 { color: #C6E0EC }	/* Main Primary color */
.color-primary-1 { color: #FFFFFF }
.color-primary-2 { color: #ECF6FB }
.color-primary-3 { color: #97c1d2 }
.color-primary-4 { color: #6598AD }

.color-secondary-1-0 { color: #CCD1EF }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFFFFF }
.color-secondary-1-2 { color: #EEF0FC }
.color-secondary-1-3 { color: #A2A9D9 }
.color-secondary-1-4 { color: #737DBA }

.color-secondary-2-0 { color: #C8F0D8 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFFFFF }
.color-secondary-2-2 { color: #ECFCF3 }
.color-secondary-2-3 { color: #9CDDB6 }
.color-secondary-2-4 { color: #6DC18F }

.color-secondary-2-0 { color: #FFDCD4 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFFFFF }
.color-secondary-2-2 { color: #FFF2EF }
.color-secondary-2-3 { color: #FFC3B4 }
.color-secondary-2-4 { color: #FFA590 }



body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #C6E0EC;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 768px) {
  * {
      max-width: 768px;
  }

  body {
    font-size: 20px;
  }
}