* {
  margin: 0 auto;
  padding: 0;
}

:root {
  --main-color: #76B4E4;
  --main-color-highlight: #A2CFF2;
  --main-color-highlight-two: #D7ECFC;
  --main-color-darken: #5199D1;
  --main-color-darken-two: #327DB7;

  --second-color: #8282E8;
  --second-color-highlight: #ABABF4;
  --second-color-highlight-two: #DBDBFC;
  --second-color-darken: #6060D8;
  --second-color-darken-two: #4242C3;

  --third-color: #70E7B4;
  --third-color-highlight: #9DF3CF;
  --third-color-highlight-two: #D5FCEB;
  --third-color-darken: #4BD69A;
  --third-color-darken-two: #2AC080;

  --warning-color: #FF3F2B;
  --warning-color-highlight: #FF6352;
  --warning-color-highlight-two: #FF887C;
  --warning-color-darken: #E01904;
  --warning-color-darken-two: #AF1100;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--main-color);
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 768px) {
  /* {
      max-width: 768px;
  }*/

  body {
    font-size: 20px;
  }
}